<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Demo Application OAuth 2.0 Login with Spring Security 5</title>
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="logout" sec:authorize="isAuthenticated()">
    <div>
        <span style="font-weight:bold">User: </span><span sec:authentication="name">Taro Yamada</span>
        <div>
            <span style="font-weight:bold">User Id:</span>
            <span sec:authentication="name">1000000</span> <!-- 認証ユーザのユーザ名(ユーザの識別子) -->
            <span style="font-weight:bold">User Name:</span>
            <span sec:authentication="principal.attributes['name']">Taro Yamada</span> <!-- 認証ユーザの氏名 -->
        </div>
        <div>&nbsp;</div>
        <div>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/> <!-- ログアウトボタン -->
            </form>
        </div>
    </div>
    <h1>GitHubのOAuth2での認証が成功しました。</h1>
    <div>
        You are successfully logged in via the OAuth 2.0 Client
        -<span style="font-weight:bold" th:text="${authorizedClient.clientRegistration.clientName}">Demo Client</span>- <!-- クライアント登録情報のクライアント名 -->
    </div>
    <div>&nbsp;</div>
    <div>
        <!-- 「User Attributes Page」を表示するためのリンク -->
        <ul>
            <li>
                <a href="/templates/userinfo.html" th:href="@{/attributes}">Display User Attributes at login</a>
            </li>
            <li>
                <a href="/templates/userinfo.html" th:href="@{/attributes/latest}">Display latest User Attributes</a>
            </li>
            <li>
                <a th:href="@{/repositories}">リポジトリの取得</a>
            </li>
        </ul>
    </div>
</body>
</html>
